<div class = "registar-content">
  <div class = "registar-content__inner">
    <%= form_with model: @suit do |form| %>
      <div class="registar-content__inner__image" onClick="$('#suit_img').click()">
        <%= form.label "picture",class:"registar-content__inner__image__label" %>
        <i class="fas fa-tshirt"></i>
        <p class="registar-content__inner__image__label__guide"> Click Me! </p>
      </div>
      <%= form.file_field :image, style: "display:none;", id: :suit_img %>
        <div class = "registar-content__inner__form">
          <div class = "registar-content__inner__form__category">
            <%= form.label "Category",class:"registar-content__inner__form__category__label" %>
            <div class = "registar-content__inner__form__category__first">
              <%= form.collection_select :category_id, @categories, :id, :name, :prompt => "--" %>
            </div>
          </div>
          <div class = "registar-content__inner__form__name">
            <%= form.label "Name",class:"registar-content__inner__form__name__label" %>
            <%= form.text_field :name, placeholder: 'name',class:"registar-content__inner__form__name__form"  %>
          </div>
          <div class = "registar-content__inner__form__status">
            <%= form.label "Status",class:"registar-content__inner__form__status__label" %>
            <div class = "registar-content__inner__form__status__box">
              <div class = "registar-content__inner__form__status__box__washing">
                <p class = "registar-content__inner__form__status__box__washing__question">タンブラー乾燥は可能ですか？</p>
                <div class = "registar-content__inner__form__status__box__washing__anwser">
                  <%= form.radio_button :status, "1", id: "yes" %>
                  <%= form.label "yes", for: "yes", id: "yes" %>
                  <%= form.radio_button :status, "2", id: "no" %>
                  <%= form.label "no", for: "no", id: "yes"  %>
                </div>
              </div>
              <div class = "registar-content__inner__form__status__box__temperature">
                <p class = "registar-content__inner__form__status__box__temperature__question">何度ぐらいで使用しますか？</p>
                <div class = "registar-content__inner__form__status__box__temperature__select ">
                  <div class = "registar-content__inner__form__status__box__temperature__select__mini">
                    <%= form.select :minitemperature, [["--",0],[0,1],[5,2],[10,3],[15,4],[20,5],[25,6],[30,7],[35,8]], {}, {id: 'minitemperature'} %>
                  </div>
                  <p class = "registar-content__inner__form__status__box__temperature__select__degree max">〜</p>
                  <div class = "registar-content__inner__form__status__box__temperature__select__max">
                    <%= form.select :maxtemperature, [["--",0],[5,1], [10,2],[15,3],[20,4],[25,5],[30,6],[35,7],[40,8]], {}, {id: 'maxtemperature'}%>
                  </div>
                  <p class = "registar-content__inner__form__status__box__temperature__select__degree">℃</p>
                </div>
              </div>
            </div>
          </div>
        <div class = "registar-content__inner__form__finish">
          <%= form.submit 'SENT!', class: "registar-content__inner__form__finish__submit"%>
        </div>
      </div>
    <%end%>
  </div>