<%= @suit.id %>
<%= @suit.name %>
<%= @suit.maxtemperature %>
<%# <% if @suit.maxtemperature = 1%>
<%# <div class = "maxtemperature" >max 5</div> %>
<%# <% elsif @suit.maxtemperature = 2 %> 
<%# <div class = "maxtemperature" >max 10</div> %>
<%# <% end %>
<%# <%= @suit.minitemperature %> 
<%# <%= @suit.category_id %> 